/* Card.css */
.card {
  width: 22%;
  height: 400px;
  display: grid;
  grid-template-rows: 210px 300px 0px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: black;
  color: white;
  -webkit-box-shadow: pink;
  -moz-box-shadow: pink;
  box-shadow: -3px 1px 20px 4px purple; 
  font-family: New Rocker;
  text-align: justify;
  cursor: pointer;
  margin: 2rem;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  gap: 2rem;
}


.Header1 
{
  position: absolute;
  top: 10%;
  right: 15%;
  z-index: 2000000000;
  
}

@media screen and (max-width: 1100px)
{
  .Header1
{
  right: 20%;
  z-index: 20000000;
  /* border: 2px solid pink; */
  
}
}

@media screen and (max-width: 920px)
{
  .Header1
{
  right: 25%;
  z-index: 20000000;
  /* border: 2px solid pink; */
  
}
}

@media screen and (max-width:560px) {

  .Header1
  {
    right: 35%;
    z-index: 20000000;
    /* border: 2px solid pink; */
    
  }
}


@media screen and (max-width:500px) {
  .Header1
  {
    right: 45%;
    z-index: 20000000;
    /* border: 2px solid pink; */
    
  }
}

@media screen and (max-width:490px) {

  .Header1
  {
    right: 50%;
    z-index: 20000000;
    /* border: 2px solid pink; */
    
  }
}



.card-text h2 {
  font-family: 'Akira Expanded';

}

.card .card-image {
  grid-area: image;
  background: beige;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
  .team-container h2 {
    font-size: 20px !important;
  }
}

.card .card-text {
  grid-area: text;
  text-align: left;
  margin: 0rem 0.5rem 1rem 0.5rem;
  transform: translateZ(30px);
}

.card .card-text .date {
  color: rgb(255, 7, 110);
  font-size: 13px;
}

.card .card-text p {
  color: white;
  font-size: 14px;
  font-weight: 300;
  font-family: "Poppins-Medium", Helvetica;
}

.card .card-text h2 {
  margin-top: 0px;
  font-size: 20px;
  margin-left: 9px;
  text-align: left;
}

.desc {
  margin-top: 1rem;
}

.card-text a{

  padding: 10px 20px;
  border-radius: 32px;
  text-decoration: none;
  border: 1px solid #1BF6F6;
  transition: background-color 0.3s ease;
  font-family: Mabry Pro;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(90deg, #FFF 4.15%, #00FFE0 90.91%);
  background-clip: text;
  margin-top: 2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-text a.register:hover {
  background: linear-gradient(90deg, #FFF 0%, #1BC1F6 100%);
  -webkit-text-fill-color: black;

}

.card-text a.register .arrow {
  color: rgb(110, 188, 214); 
}

.card-text a.register:hover .arrow {
  color: black; 
}
.desc {
  color: #ffffff;
  font-family: "Scope One-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 0;
  margin-left: 10px;
  line-height: normal;
  opacity: 0.8;
  text-align: left;
  top: 0;
}

.team-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* min-height: 100vh;  */
  padding-right: 0rem;
  background: black;
  margin-left: 8%;
}


/* Card.css */

/* ... Your existing styles ... */

.epg {
position: relative;
z-index: 1;
background: black;
}

.team-container {
display: flex;
justify-content: center; /* Align the heading center horizontally */
align-items: center;
flex-wrap: wrap;
padding-right: 0rem;
background: transparent;
margin-top: 1%;
position: relative;
z-index: 1;
/* Center the team container horizontally */
}
.team-container h2 {
text-align: center;
color: #FFF;
font-size: 50px;
margin-top: 5%;
font-family: 'Akira Expanded';
}


.con {
gap: 3rem;
}
.con .card {
width: 33%;

}

.ui .card {
width: 70%;
}
.team-section {
text-align: center; /* Center align heading */
width: 100%; /* Ensure the entire width of the container is utilized */
display: flex; /* Add this property to make cards display side by side */
flex-wrap: wrap;
justify-content: space-around; 
/* Adjust as needed */
}

.team-m {
margin-top: 5%;
border-radius: 15px;
border: 2px solid white;
width: 95%;
}

/* .card {
width: 22%;
height: 400px;
display: grid;
grid-template-rows: 210px 300px 0px;
grid-template-areas: "image" "text" "stats";
border-radius: 18px;
background: black;
color: white;
-webkit-box-shadow: pink;
-moz-box-shadow: pink;
box-shadow: -3px 1px 20px 4px #F400A1;
font-family: New Rocker;
text-align: justify;
cursor: pointer;
margin: 2rem;
transform-style: preserve-3d;
transform: perspective(1000px);
gap: 2rem;
} */

/* ... Your existing styles ... */

@media (max-width: 768px) {
.card {
  width: 100%;
}
}

/* ... Your existing styles ... */