@font-face {
    font-family: Akira Expanded;
    src: url(akira_expanded/Akira\ Expanded\ Demo.otf);
  }
  
  @font-face {
    font-family: poppins;
    src: url(Poppins/Poppins-Light.ttf);
  }

  .Header1 
  {
    position: absolute;
    top: 10%;
    right: 30%;
    z-index: 0;
  }


  
  /* CSS */
  .button-63-1 {
    align-items: left;
    background: linear-gradient(180deg, #C65FF6 0%, rgba(198, 95, 246, 0.35) 100%);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
   /* -left: 28%; margin */
    margin-top: 5%;
  }
  
  /* Event.css */
  /* Add these styles or update existing styles */
  
  .custom-tab-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .custom-tab-panel > div {
    flex-basis: calc(30% - 10px);
    margin-bottom: 10px;
  }
  
  
  /* Event.css */
  /* Add these styles or update existing styles */
  
  .custom-tab-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /*background-color: #f5f5f5;  Background color for the tab list */
    /* Border at the bottom of the tab list */
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
  }
  
  .custom-tab-list .react-tabs__tab {
    flex-basis: calc(30% - 20px);
    margin-bottom: 10px;
    padding: 8px 12px; /* Smaller padding */
    font-size: 14px; /* Smaller font size */
    background-color: transparent; /* Transparent background */
    color: #FFFFFF; /* Default text color */
    border: 2px solid #fff; /* White outline border */
    border-radius: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .custom-tab-list .react-tabs__tab.react-tabs__tab--selected {
    background-color: #fff; /* Selected tab background color */
    color: #000; /* Selected tab text color */
    border-color: #fff; /* White outline border for the selected tab */
  }
  
  .custom-tab-list .react-tabs__tab:hover {
    background-color: #fff; /* Background color on hover */
    color: #000; /* Text color on hover */
  }
  
  
  #tsparticles {
    position: absolute;
    z-index: 0;
  }
  
  .button-63-1:active,
  .button-63-1:hover {
    outline: 0;
  }
  
  
  
  body {
    overflow-x: hidden;
  }
  
  @media (min-width: 768px) {
    .button-63-1 {
      font-size: 24px;
      min-width: 196px;
    }
  }
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    background: #000;
  }
  
  .page1 {
    min-height: 100vh;
    width: 100vw;
    flex-shrink: 0;
    overflow: visible !important;
    position: relative;
    z-index: 2;
    background: black;
  }
  #competitions{
    min-height: 100vh;
    height: auto;
    padding-bottom: 10%;
  }
  .page1 .bottom {
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(54, 54, 54, 0) 0%, #000 82.71%);
    bottom: 0px;
  }
  
  .page1 img {
    width: 100vw;
    margin-top: -120px;
    object-fit: cover;
    mix-blend-mode: screen;
  }
  
  .page1 h1 {
    color: #fff;
    font-family: Akira Expanded;
    font-size: 14vw;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -100px;
    z-index: 3;
  }
  
  .page2 {
    margin-top: 10%;
    width: 100vw;
    position: relative;
    z-index: 1;
  }
  
  .page2 h1 {
    color: #fff;
    font-family: Akira Expanded;
    font-size: 7vw;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
  }
  
  .cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10%; /* Adjust the gap as needed */
    flex-wrap: wrap;
    
    
  }
  
  .card2 {
    width: calc(35% - 20px); /* Adjust width to include gap */
    min-height: 100vh;
    box-shadow: 0 4px 30px rgba(0,0,0,.1);
    backdrop-filter: blur(15px);
    height: auto;
    /* padding: 5%; */
    margin-top: 5%;
    /* background-color: #000; */
    flex-shrink: 0;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    gap: 20%;
    border-bottom-left-radius: 0;
  }

  @media screen and (max-width: 1100px)
{
  .Header1
{
  right: 25%;
  /* border: 2px solid pink; */
  
}
}

@media screen and (max-width: 920px)
{
  .Header1
{
  right: 30%;
  /* border: 2px solid pink; */
  
}
}
  
  
  
  @media (max-width: 768px) {
    .mobv {
      display: none;
    }
     .card2 {
      width: 80%;
      height: 500px;
      margin-bottom: 10%;
      /* margin-left: 4%; */
     }
     .cards a {
      width: 100%;
     }
     .custom-tab-list .react-tabs__tab {
      flex-basis: calc(50% - 20px);
      font-size: 10px;
     }
  }
  
  @media screen and (max-width:700px) {
      .card2{
        /* margin-left: 8%; */
      }
  }
  @media screen and (max-width:560px) {
    .card2{
      /* margin-left: 12%; */
    }

    .Header1
    {
      right: 35%;
      /* border: 2px solid pink; */
      
    }
}

@media screen and (max-width:400px) {
  .Header1
  {
    right: 70%;
    /* border: 2px solid pink; */
    
  }
}

@media screen and (max-width:490px) {
  .card2{
    /* margin-left: 14%; */
  }

  .Header1
  {
    right: 55%;
    /* border: 2px solid pink; */
    
  }
}

  .card2 .img {
    width: 100%;
    height: 55%;
    position: relative;
    overflow: hidden;
    border-radius: 30px;

  }
  
  .card2 img {
    width: 100%;
    transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  
  /* .card2 .img .grad {
    height: 50%;
    width: 100%;
    background: linear-gradient(179deg, rgba(0, 0, 0, 0) 27.49%, #000 69%);
    position: absolute;
    bottom: 0px;
  } */
  
  .card2 .day {
    margin-top: 20px;
    color: #c65ff6;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 13;
    margin-left: 20px;
  }
  
  .card2 .artist {
    color: #fff;
    margin-left: 20px;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  
  .card2 .desc {
    color: #fff;
    margin: 0px 20px;
    text-align: justify;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .card2 .img:hover img{
    scale: 1.2;
  }
  
  .c2 .cube {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: rotateX(-30deg) rotateY(0deg);
    }
    100% {
      transform: rotateX(-30deg) rotateY(360deg);
    }
  }
  
  .c2 .cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  
  .c2 .cube div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #800080); /* Dark Purple: #800080 */
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
  }
  
  .c2 .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
  }
  
  .c2 .top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #800080; /* Dark Purple: #800080 */
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(128, 0, 128, 0.2), /* Dark Purple: #800080 */
      0 0 200px rgba(128, 0, 128, 0.4),
      0 0 300px rgba(128, 0, 128, 0.6),
      0 0 400px rgba(128, 0, 128, 0.8),
      0 0 500px rgba(128, 0, 128, 1);
  }
  
  .c3 .cube {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: rotateX(-30deg) rotateY(0deg);
    }
    100% {
      transform: rotateX(-30deg) rotateY(360deg);
    }
  }
  
  .c3 .cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  
  .c3 .cube div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #00008b); /* Dark Blue: #00008b */
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
  }
  
  .c3 .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
  }
  
  .c3 .top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #00008b; /* Dark Blue: #00008b */
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 0, 139, 0.2), /* Dark Blue: #00008b */
      0 0 200px rgba(0, 0, 139, 0.4),
      0 0 300px rgba(0, 0, 139, 0.6),
      0 0 400px rgba(0, 0, 139, 0.8),
      0 0 500px rgba(0, 0, 139, 1);
  }