.main 
{
    padding: 40px 0px;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    align-items: center;
    font-weight: bolder;
    position: absolute;
    z-index: 1;
}

.Header1 
{
  position: absolute;
  top: 10%;
  right: 15%;
  z-index: 2000000000;
  
}

@media screen and (max-width: 1100px)
{
  .Header1
{
  right: 20%;
  z-index: 20000000;
  /* border: 2px solid pink; */
  
}
}

@media screen and (max-width: 920px)
{
  .Header1
{
  right: 25%;
  z-index: 20000000;
  /* border: 2px solid pink; */
  
}
}

@media screen and (max-width:560px) {

  .Header1
  {
    right: 35%;
    z-index: 20000000;
    /* border: 2px solid pink; */
    
  }
}


@media screen and (max-width:500px) {
  .Header1
  {
    right: 45%;
    z-index: 20000000;
    /* border: 2px solid pink; */
    
  }
}

@media screen and (max-width:490px) {

  .Header1
  {
    right: 50%;
    z-index: 20000000;
    /* border: 2px solid pink; */
    
  }
}

.headingDiv 
{
    font-family: Akira Expanded;
    font-size: 400%;
    font-weight: 800;
    line-height: 200%;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin-top: 5%;
}
.description1 
{
    width: 80%;
    color: white;
    font-weight: normal;
    font-size: 25px;
    margin: 10px 0px;
    text-align: justify;
    padding-top: 5%;
}

.benefits 
{
    width: 80%;
    min-height: 70vh;
    height: auto;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.benefitsHeading
{
  color: white;
  width: 80%;
  font-size: 2rem;
}

.data 
{
    width: 50%;
    font-size: 25px;
    text-wrap: balance;
    text-align: justify;
}



.image 
{
    width: 450px;
    height: 450px;
    border-radius: 36px;
    margin-top: 15px;
    box-shadow: 10px 10px 20px 	RGB(201, 107, 246), -10px -10px 20px RGB(201, 107, 246),
    10px -10px 20px RGB(201, 107, 246), -10px 10px 20px RGB(201, 107, 246);
  animation: moveUpDown 2s ease-in-out infinite alternate; /* Adjust the duration as needed */
}
@keyframes moveUpDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(30px);
    }
  }

.dataHeader 
{
    font-size: 25px;
    font-weight: 400;
}

.ul 
{
    padding: 0;
}

.button 
{
    font-family: "Poppins-Bold", Helvetica;
    font-size: 24px;
    font-weight:700;
    width: 280px;
    height: 60px;
    background-color: #A100FF;
    border-radius: 15px ;
    border-top: 0.5px solid grey;
    border-left: 0.5px solid grey;
    border-bottom: 3.5px solid white;
    border-right: 3.5px solid white;
    color: aliceblue;
}
.button a{
    text-decoration: none;
    color: #fff
    ;
}

.buttonDiv 
{
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    color: white;
}

@media screen and (max-width: 1000px)
{
    .headingDiv
    {
        width: 90%;
        font-size: 1.5rem;
    }

    .description1
    {
        font-size: 1.5rem;
    }

    .dataHeader
    {
        font-size: 1.5rem;
    }

    .data 
    {
        margin-right: 10px;
    }

    .image 
    {
       width: 350px;
       height: 350px;
       margin: 10% 0;
    }
}

@media screen and (max-width: 800px)
{

    .benefits
    {
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .benefitsHeading
{
  text-align: center;
}

.data
{
    width: 100%;
    margin: 0;
}

.benefitsHeading
{
    width: 100%;
}

.buttonDiv{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
}

@media screen and (max-width: 500px)
{

    .headingDiv
    {
        font-size: 1.25rem;
    }
    .description1
    {
        width: 93%;
        font-size: 1rem;
    }

    .dataHeader
    {
        width: 100%;
        font-size: 1rem;
    }

    .data 
    {
        width: 95%;
    }
}
