/* Rocket.css */
.navbar-div
{
  position: absolute;
  top: 4%;
  right: 20%;
  z-index: 200;
  
}

@media screen and (max-width: 1100px)
{
  .navbar-div
{
  right: 25%;
  z-index: 200;
  /* border: 2px solid pink; */
  
}
}

@media screen and (max-width: 870px)
{
  .navbar-div
{
  right: 32%;

  /* border: 2px solid pink; */
  
}
}

@media screen and (max-width: 500px)
{
  .navbar-div
{
  right: 55%;
 
  /* border: 2px solid pink; */
  
}
}

.header-div{
  position: absolute;
  top:-3%;
  right: 30%;
  /* border: 2px solid white; */
}



.splinemodel{
  /* width: 100%; */
  height: 100vh;
  /* position: absolute; */
  z-index: -1;
}

.main{
  width: 100%;
  min-height: 90vh;
  height: auto;
  position: relative;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
}
.button-x a{
  text-decoration: none;
  color: white;
}
.heading{
  position: absolute;
  top: calc(29% - 98px); 
  left: calc(50% - 360px);
  z-index: 10;
  color: aliceblue;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.image 
{
  /* left: 50px; */
 width: 721px;
 height: 196px;
 background-color: transparent;
 margin-bottom: 20%;
   /* height: 500px; */
}

.clicked 
{
  transition: all .5s ease;
  color: #fff;
  border: 3px solid rgba(255, 255, 255, 0.26);
  font-family:'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color : transparent;
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
  padding: 7%;
  outline: none;
  border-radius: 4px;
  width: 200px
}

.clicked:hover 
{
  scale: 1.2;
}

@media screen and (max-width: 1270px)
{
  .clickedLink 
  {
    position: absolute;
    bottom: 2%;
    left: 35%;
  }
}

@media screen and (max-width: 1000px)
{
  .image
  {
    width: 600px;
    height: 163px;
  }

  .heading
  {
    top: calc(29% - 81px); 
    left: calc(50% - 300px);
  }

  .clickedLink 
  {
    bottom: -10%;
    left: 35%;
  }
}

@media screen and (max-width: 800px)
{
  .clickedLink 
  {
    bottom: -65%;
    left: 27%;
  }
}

@media screen and (max-width: 800px)
{
  .clickedLink 
  {
    bottom: -80%;
    left: 27%;
  }
}

@media screen and (max-width: 800px)
{
  .clickedLink 
  {
    bottom: -100%;
    left: 15%;
  }
}
/* 
@media screen and (max-width: 800px)
{
  .image
  {
    width: 500px;
    height: 130px;
  }

  .heading
  {
    top: calc(70% - 75px); 
    left: calc(50% - 250px);
  }
} */

@media screen and (max-width: 800px)
{
  .image
  {
    width: 400px;
    height: 97px;
  }
  .heading
  {
    top: calc(35% - 48.5px); 
    left: calc(50% - 200px);
  }
}

@media screen and (max-width: 600px)
{
  .image
  {
    width: 350px;
    height: 85px;

  }

  .heading
  {
    top: calc(35% - 43px); 
    left: calc(50% - 195px);
  }
}

@media screen and (max-width: 540px)
{
  .image
  {
    width: 300px;
    height: 73px;
  }

  .heading
  {
    top: calc(35% - 37px); 
    left: calc(50% - 150px);
  }
}

@media screen and (max-width: 420px)
{
  /* .image
  {
    width: 300px;
    height: 73px;
  } */

  .navbar-div 
  {
    right: 60% ;
  }
}