a{
    text-decoration: none;
}

html, body {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-zoom: fixed;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* .cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease;
  pointer-events: none;
  mix-blend-mode: difference;
}
body:hover ~ .cursor {
  transform: scale(6);
  box-shadow: 0 0 10px #fff;
  color: #000;
} */