.xse .control-dots
{
    visibility: hidden !important;
}

.xse .slide{
    height: 200% !important;
    width: 30% !important;
}



@media only screen and (max-width: 1000px) {
    .xse .slide {
      min-width: 50% !important;
    }
  }

  @media only screen and (max-width: 600px) {
    .xse .slide {
      min-width: 100% !important;
    }
  }